body{
    font-family: 'Poppins', sans-serif; 
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
}
.top-sec{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img {
    width: 80%;
}
.hire-button{
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
}
.dream-big{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.dream-big p{
    margin-right: 5%;
}
.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    margin: 150px 0;
}
.developer-area{
    width: 40%;
    height: 450px;
    margin: auto;
    padding: 0 15px;
    box-shadow:2px 1px 20px gray;
    
}
.border-1{
    border-left: 6px solid red;
}
.border-2{
    border-left: 6px solid #2d2df8;
}
.developer-area h3{
    color: tomato;
}
.footer{
    text-align: center;
}