body{
    font-family: 'Poppins', sans-serif; 
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
}
.top-sec{
    background-image: url(/images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img {
    width: 80%;
}
.hire-button{
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
}
.dream-big{
    background-image: url(/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream-big p{
    margin-right: 5%;
}